# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log
*-debug.log

# Functions build + deps
functions/node_modules/
functions/lib/
functions/.env
functions/.env.local

# Emulator data
emulator-data/
